body{
    background-color: #F0F7FF;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #000305;
}
a:hover {
    color: #cd1400;
    text-decoration: underline;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Lucidia sans serif';
}
.mainHeader nav {
    background-color: #831515;
    height: 36px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.mainHeader nav h1 {
    float: left;
    display: inline;
}
.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}
.mainHeader nav ul li {
    float: left;
    display: inline;
}
.search_box {
    /*add a search icon or something*/
    background-color: #831515;
    position: absolute;
    top: 5px;
    margin-left: 30%;
    margin-bottom: -10px;
}

/*search bar styling*/

#search input[type="text"] {
    background-color: indianred;
    height: 24px;
    outline: none;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-serif, sans-serif;
    margin: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
}
#search input[type="text"]:focus {
    background-color: aliceblue;
    height: 24px;
    outline: none;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-serif, sans-serif;
    margin: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    -webkit-transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in 0s;
    -ms-transition: all 0.7s ease-in 0s;
    -o-transition: all 0.7s ease-in 0s;
    transition: all 0.7s ease-in 0s;
}
#search input[type="text"]:hover {
    background-color: aliceblue;
    height: 24px;
    outline: none;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-serif, sans-serif;
    margin: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.3) inset;
    -webkit-transition: all 0.7s ease-in-out 0.3s;
    -moz-transition: all 0.7s ease-in-out 0.3s;
    -ms-transition: all 0.7s ease-in-out 0.3s;
    -o-transition: all 0.7s ease-in-out 0.3s;
    transition: all 0.7s ease-in-out 0.3s;
}

/*nav bar css*/

.mainHeader nav {
    /*mozilla*/
    /*IE */
}
.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}
.mainHeader nav ul li {
    float: right;
    display: inline;
}
.mainHeader nav ul li a:link, .mainHeader nav a:visited {
    display: inline-block;
    padding-top: 8px;
    margin: 0px 7px;
    /*come back here to assign height*/
    /*text height -(paddingheight*2)*/
}
.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    text-shadow: none;
}
.mainHeader nav a:hover, a:focus {
    color: #fff;
}
.mainHeader nav ul li a {
    /*mozilla*/
    /*IE */
}

/*LEFT SIDE CSS*/


/*classes: left-modules
id: groups, friends
elements: aside h1*/

.left {
    display: block;
    width: 23%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
}
.left h2 {
    align-content: center;
    text-align: center;
}
.left-modules {
    float: left;
    text-align: center;
    border-radius: 10px;
    display: inline-grid;
}
.friends-enemies {
    border: 4px solid #831515;
    border-radius: 7px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    align-content: center;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}
#friends-container {
    margin-top: 1px;
}
.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: orange;
    /* width and height can be anything, as long as they're equal */
}

/*MAIN CONTAINER*/
.mainContent{
    width: auto 44%;
    margin: 10% 10% 10% 10%;

}
/*classes: div mainContent, div content, post, post-title, post-user-info, post-content, post-text
*/


.right-sidebar {
    width: 23%;
    background-color: purple;
    float: right;
    text-align: left;
}
