/*
CSS to make a grid
for reference go to this link
http://j4n.co/blog/Creating-your-own-css-grid-system
*/
body{
    background-color: #fff;
}
.container {
    width: 100%;
    max-width: 100%;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}
/*
[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
}
*/
.col-3 {
    float: left;
    min-height: 1px;
    width: 19%;
}

.col-9 {
    float: left;
    min-height: 1px;
    width: 59%;
}
/*body elements*/
/*nav bar css*/
.brand-image{
    display: inline;
    float: left;
}
.navbar-form .searchbar{
    display: inline;
    float: left;
}
.submit-btn{
    display: inline;
    float: left;
}

.navbar-list li{
    text-decoration: none;
    display: inline;
    float: left;
    background-color: #fff;
}
/*dropdown items*/
/* Style The Dropdown Button */
.dropdown-btn {
    background-color: #fff;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.navbar-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.navbar-dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navbar-dropdown:hover .dropdown-btn {
    background-color: #fff;
}

/*left container*/
.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image:url("images/placeholder.png");
    background-size: contain;
    /* width and height can be anything, as long as they're equal */
}
.left-modules{
    margin: auto; /*centers it easily*/
    text-align: center;
    font-family: 'Crete Round', serif;
    font-size: 200%;
    background-color: transparent;

}
.left-content{
    background-color: rgba(0,0,0,0.04);
}
/*mid container*/
.main-content{
    background-color: rgba(0,0,0,0.04);
}

#post{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.1), 0 1px 0 rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255, 0.1), 0 1px 0 rgba(0,0,0,0.3) inset;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.1), 0 1px 0 rgba(0,0,0,0.3) inset;
}
.post-title, .post-title h1 a{
    text-align: center;
    text-decoration: none;
}
/*right container*/
.right-content{
    margin-left: 1%;
}
.header{
    text-align: center;
    text-decoration: none;
}
