.container {
    width: 100%;
    max-width: 1265px;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
}

.col-4 {
    background-color: red;
    float: left;
    min-height: 1px;
    width: 25%;
}

.col-8 {
    background-color: blue;
    float: left;
    min-height: 1px;
    width: 50%;
}
